.landingImg{
    position: absolute;
    left:0;
    top:0;
    width:51vw;
    height: auto;
    transform: scaleX(-100%);
    z-index:1;
}
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color:rgb(35, 38, 83);
}
.heading{
    width:30vw;
}
.heading h1{
    font-size: 52px;
    text-align: end;
}
.heading p{
    font-size: 18px;
    text-align: end;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.receiveUrl{
    display: flex;
    margin-top: 50px;
}
.textfield{
    width: 100%;
    height:40px;
    background: #fff;
    border-radius: 40px 5px 5px 40px;
    margin-right: 10px;
    padding-right: 10px;
    border:none;
}
.textfield input{
    width:98%;
    margin: 0 0 0 10px;
    height: 40px;
    font-size: 24px;
    border: none;
}
.textfield input:focus{
    outline: none;
}
.submitBtn{
    border: none;
    display: flex;
    color: #fff;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 40px 40px 5px;
    background-color:rgb(35, 38, 83);
}
.submitBtn:disabled{
    background-color:rgba(35, 38, 83, 0.575);
}

@media screen and (max-width: 1550px) {
    .heading{
        width:35vw;
    }
}
@media screen and (max-width: 1300px) {
    .heading{
        width:45vw;
    }
}
@media screen and (max-width: 940px) {
    .landingImg{
        width:70vw;
        top:-100px;
    }
    .heading{
        width:100vw;
        margin-top: 220px;
        z-index: 5;
    }
    .heading p{
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .landingImg{
        width:80vw;
    }
    .heading{
        width:100vw;
        margin-top: 130px;
        z-index: 5;
    }
    .heading h1{
        font-size: 32px;
        text-align: center;
    }
    .heading p{
        font-size: 16px;
        text-align: center;
    }
    .receiveUrl{
        display: flex;
        justify-content: center;
        margin-top: 30px
    }
}
@media screen and (max-width: 450px) {
    .landingImg{
        width:100vw;
        top:-10px;
    }
    .heading{
        width:100vw;
        margin-top: 140px;
        z-index: 5;
    }
}