.navbar{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color:rgb(0, 1, 20);
}
.logo{
    margin:0;
    text-transform: uppercase;
    z-index: 2;
}
.logo .s{
    font-weight:800
}
.logo .h{
    font-weight:700
}
.logo .o{
    font-weight:600
}
.logo .r{
    font-weight:500
}
.logo .t{
    font-weight:400
}
.logo .i{
    font-weight:300
}
.logo .f{
    font-weight:200
}
.logo .y{
    font-weight:100
}
.nav{
    margin: 0;
    display: flex;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav--link{
    display: flex;
    align-items: center;
}
.nav--link-item{
    margin: 0 12px;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 16px;
    font-weight: 500; 
    text-decoration: none;
    color:rgb(35, 38, 83);
    transition: all 200ms;
    z-index: 2;
}
.nav--link-item:hover{
    background: rgb(35, 38, 83);
    color: white;
}